/*--- Backend ---*/
p.match_info {
	font-size: 0.9em;
	margin-top: 1.5em;
	}
	
p.leaguemanager_breadcrumb {
	float: right;
	margin: 1.5em 1.3em 1.3em auto;
	}

.widefat .num, {
	text-align: center;
	}
.widefat .logo {
	width: 20px;
	}
.widefat .logo img {
	display: block;
	margin: 0;
	padding: 0;
	}

a.colorpicker {
	border: 1px solid #000000;
	font-family:Verdana;
	font-size:10px;
	width: 20px;
	height: 12px;
	text-decoration: none;
	margin: 1.4em 0.5em 0 1em;
	}
p.table_rows {
	float: left;
	padding: 0;
	margin: 0 2em 0 0;
	}
	
.leaguemanager_widget_control select {
	display: block;
	width: auto;
	}
.leaguemanager_widget_control select.inline { display: inline; }
	
	
/*--- Frontend Table ---*/
table.leaguemanager {
	text-align: left;
	border: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 1em auto 1.5em auto;
}
table.leaguemanager th {
	padding: 2px 5px;
	margin: 0;
	}
table.leaguemanager td {
	vertical-align: top;
	padding: 3px 5px;
	border: 0;
	margin: 0;
	}
table.leaguemanager .num {
	text-align: center;
	}
table.leaguemanager .logo {
	width: 20px;
	}
table.leaguemanager .logo img {
	display: block;
	margin: 0;
	padding: 0;
	}

table.leaguemanager .rank {
	text-align: center;
	padding: 0;
	width: 1.2em;
	}
table.leaguemanager span.home {
	font-weight: bold;
	}
table.leaguemanager th.match {
	text-align: center;
	}
table.leaguemanager .score, table.leaguemanager .ap {
	text-align: center;
	vertical-align: bottom;
	}
table.leaguemanager tr.divider {
	border-bottom: 1px solid;
	}
	
div#leaguemanager_crosstable div { text-align: center; padding-top: 1em;}


/*--- Widget ---*/
div.leaguemanager_widget {
	margin: 0;
	padding: 0;
	text-align: center;
	}
div.leaguemanager_widget p.title {
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: left;
	}
div.leaguemanager_widget dl.matches {
	text-align: left;
	}
div.leaguemanager_widget dl.matches li {
	
	}
div.leaguemanager_widget p.info {
	text-align: center;
	margin: 7px 0 0 0;
	padding: 0;
	font-size: 1em;
	font-style: normal;
	}
div.leaguemanager_widget table {
	clear: both;
	border: 0;
	margin: 0.2em 0 1em 1em;
	font-size: 0.9em;
	border-collapse: collapse;
	text-align: left;
	width: auto;
	}
div.leaguemanager_widget table tr, div.leaguemanager_widget table tr.alternate {
	background: transparent;
	}
div.leaguemanager_widget table th, div.leaguemanager_widget table td {
	padding: 4px;
	margin: 0;
	border: 0;
	background: transparent;
	}
div.leaguemanager_widget table th {
	font-weight: normal;
	border-bottom: 1px solid #000000;
	}