/*--- Backend ---*/
label.leaguemanager-widget {
	padding: 0em 0.5em 0em 0em;
	width: 9em;
	float: left;
	font-size: 1em;
	clear: both;
	}
form.leaguemanager label {
	padding: 1em 0.5em 0em 0em;
	width: 10em;
	float: left;
	line-height: 1.5em;
	font-size: 1em;
	}
form.leaguemanager label.right, label.right {
	padding: 0;
	width: 100%;
	float: none;
	font-size: 1em;
	line-height: 1.5em;
	margin-right: 5px;
	}
	
form.leaguemanager input, textarea {
	margin: 1em 0em 0em 0em;
	line-height: 1.5em;
	}
form.leaguemanager br {
	clear: both;
	}
form#competitions-filter {
	}
form#competitions-filter input.points {
	padding: 0;
	margin: 0;
}

p.match_info {
	font-size: 0.9em;
	}
	
p.leaguemanager_breadcrumb {
	float: right;
	margin: 0 1.3em 1.3em auto;
	}
	
.widefat .check-column {
	width: 1.5em;
	}
.widefat .num {
	text-align: center;
	}
	
div.wrap h2 {
	clear: none;
	}

	
/*--- Frontend Table ---*/
table.leaguemanager {
	text-align: left;
	border: 0;
	border-collapse: collapse;
	width: 100%;
	margin-top: 1em;
}
table.leaguemanager th {
	background-color: #dddddd;
	padding: 2px 5px;
	margin: 0;
	}
table.leaguemanager td {
	padding: 2px 5px;
	border: 0;
	margin: 0;
	}
table.leaguemanager .num {
	text-align: center;
	}
table.leaguemanager tr {
	background-color: #efefef;
	}
table.leaguemanager tr.alternate {
	background-color: #ffffff;
	}
table.leaguemanager .rank {
	text-align: center;
	padding: 0;
	width: 1.2em;
	}
table.leaguemanager span.home {
	font-weight: bold;
	}
table.leaguemanager th.match {
	text-align: center;
	}
table.leaguemanager .score, table.leaguemanager .ap {
	text-align: center;
	vertical-align: bottom;
	}

table.crosstable th, table.crosstable td {
	border: 1px solid #ffffff;
	}
div#leaguemanager_crosstable div { text-align: center; padding-top: 1em;}

/*--- Widget ---*/
div#leaguemanager_widget {
	margin: 0;
	padding: 0;
	}
div#leaguemanager_widget p.title {
	font-weight: bold;
	margin: 5px 0 0 0;
	padding: 0;
	font-size: 1em;
	text-align: left;
	}
div#leaguemanager_widget ul.matches li {
	margin-left: 15px;
	}
div#leaguemanager_widget p.info {
	text-align: center;
	margin: 7px 0 0 0;
	padding: 0;
	font-size: 1em;
	font-style: normal;
	}
div#leaguemanager_widget table {
	clear: both;
	border: 0;
	margin: 2px;
	font-size: 0.9em;
	border-collapse: collapse;
	text-align: left;
	width: auto;
	}
div#leaguemanager_widget table tr, div#leaguemanager_widget table tr.alternate {
	background: transparent;
	}
div#leaguemanager_widget table th, div#leaguemanager_widget table td {
	padding: 4px;
	margin: 0;
	border: 0;
	background: transparent;
	}
div#leaguemanager_widget table th {
	font-weight: normal;
	border-bottom: 1px solid #000000;
	}