/*
* @section: Backend
*/
p.match_info {
	font-size: 0.9em;
	margin-top: 1.5em;
	}
	
p.leaguemanager_breadcrumb {
	float: right;
	margin: 1.5em 1.3em 1.3em auto;
	}

.widefat .num, {
	text-align: center;
	}
.widefat .logo {
	width: 20px;
	}
.widefat .logo img {
	display: block;
	margin: 0;
	padding: 0;
	}
a.colorpicker {
	border: 1px solid #000000;
	font-family:Verdana;
	font-size:10px;
	width: 20px;
	height: 12px;
	text-decoration: none;
	margin: 1.4em 0.5em 0 1em;
	}
p.table_rows {
	float: left;
	padding: 0;
	margin: 0 2em 0 0;
	}
	
.leaguemanager_widget_control select {
	display: block;
	width: auto;
	}
.leaguemanager_widget_control select.inline { display: inline; }
	

/*
* @section: Frontend Tables
*/
table.leaguemanager {
	text-align: left;
	border: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 1em auto 1.5em auto;
}
table.leaguemanager th {
	padding: 2px 5px;
	margin: 0;
	border-bottom: 1px solid;
	}
table.leaguemanager td {
	vertical-align: top;
	padding: 3px 5px;
	border: 0;
	margin: 0;
	border-bottom: 1px solid #f1f1f1;
	}
table.leaguemanager .num {
	text-align: center;
	}
table.leaguemanager .logo {
	width: 20px;
	}
table.leaguemanager .logo img {
	display: block;
	margin: 0;
	padding: 0;
	}
table.leaguemanager .rank {
	text-align: center;
	padding: 0;
	width: 1.2em;
	}
table.leaguemanager .home {
	font-weight: bold;
	}
table.leaguemanager th.match {
	text-align: center;
	}
table.leaguemanager .score, table.leaguemanager .ap {
	text-align: center;
	vertical-align: bottom;
	}
table.leaguemanager tr.divider {
	/*border-bottom: 1px solid;*/
	}
table.leaguemanager a {
	text-decoration: none;
}

/*--- Crosstable Popup---*/
div#leaguemanager_crosstable div { text-align: center; padding-top: 1em;}


/*
* @section: Widget
*/
.leaguemanager_widget {
	background-image: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
.leaguemanager_widget h4 {
	border-bottom: 1px solid #ddd;
	}
.leaguemanager_widget img {
	border: 0;
	}
/*
.leaguemanager_widget dl.matches {
	text-align: left;
	}
.leaguemanager_widget dl.matches dd {
	margin-left: 0.2em;
	}
.leaguemanager_widget .info {
	text-align: center;
	margin: 1em 0 0 0;
	padding: 0;
	font-style: normal;
	}
*/
/*--- Match Events ---*/
.leaguemanager_widget .match_widget_content {
	}
.leaguemanager_widget .match_widget_content .match {
	padding-top: 0.3em;
	}
.leaguemanager_widget .match_widget_content .match_day, .leaguemanager_widget .match_widget_content .date {
	padding: 0;
	margin: 0;
	text-align: left;
	}
.leaguemanager_widget .match_widget_content .result {
	font-size: 1.3em;
	font-weight: bold;
	}
.leaguemanager_widget .match_widget_content .report {
	text-align: right;
	}
	
/*--- Standings Table ---*/
.leaguemanager_widget table.leaguemanager {
	font-size: 0.8em;

	margin: 0 auto 0 auto;
	padding: 0;
	}
.leaguemanager_widget table.leaguemanager th {
	background-color: #ffffff;
	}
.leaguemanager_widget table.leaguemanager th, .leaguemanager_widget table.leaguemanager td {
	padding: 4px;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #dfdfdf;
	}
.leaguemanager_widget table.leaguemanager tr, .leaguemanager_widget table.leaguemanager tr.alternate {
	background-color: #ffffff;
	}

	
/*

.leaguemanager_widget table.leaguemanager tr, .leaguemanager_widget table.leaguemanager tr.alternate {
	background: transparent;
	}


.leaguemanager_widget table.leaguemanager th {
	font-weight: normal;
	border-bottom: 1px solid #000000;
	}
.leaguemanager_widget table.leaguemanager .divider {
	border-bottom: 1px dashed;
	}
*/